<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>yOSue7Lv8qXcO2I8aA6tk1vS0eBXyAoj</string>
	<key>Domain</key>
	<string>dev-phx0q5dfusinxfzk.au.auth0.com</string>
</dict>
</plist>
